<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Otter edit</title>
</head>
<body>
    <h3>Edit otter</h3>
    <% for(var o of otter){%>
    <form action="/otter/<%= o.id %>" method="post">
        <label for="name">Otter Name:</label>
        <input type="text" name="name" value="<%= o.name%>"><br>
        <label for="age">Otter Age:</label>
        <input type="number" name="age" value="<%= o.age%>"><br>
        <input type="submit" value="edit Otter">
    </form>
    <%}%>
</body>
</html>