<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    *{
        margin: 5px;
    }
    </style>
    <title>New</title>
</head>
<body>
    <h3>New Otter</h3>
    <form action="/otter" method="post">
        <label for="name">Otter Name:</label>
        <input type="text" name="name" placeholder="name..."><br>
        <label for="age">Otter Age:</label>
        <input type="number" name="age" placeholder="age..."><br>
        <input type="submit" value="Add Otter">
    </form>
    
</body>
</html>